sudo: required
services:
    - docker

before_install:
    - docker build -t fainy/docker-nginx-react-app -f dockerfile.dev .

script:
    - docker run -e CI=true fainy/docker-nginx-react-app npm run test -- --coverage 

deploy:
    provider: elasticbeanstalk
    region: "us-east-2"
    app: "docker-react-app"
    env: "Dockerreactapp-env"
    bucket_name: "elasticbeanstalk-us-east-2-860869787844"
    bucket_path: "docker-react-app"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key:
        secure: "$AWS_SECRET_KEY"