sudo: required
services:
    -docker


before_install:
    - docker build -t fainy/docker-nginx-react-app -f dockerfile.dev .

script:
    -docker run fainy/docker-nginx-react-app npm run test -- --coverage 